@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "«Buona» фабрика мягкой мебели – производство г. Ульяновск";
    Page.Key="Buona mebel, фабрика мебели г. Ульяновск, мягкая мебель от производителя, мебель Ульяновск, каталог мебели";
    Page.Description="Buona - фабрика мягкой мебели г. Ульяновск";
}



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="~/Images/catalogy/milan-1.jpg" alt="First slide">
        
        </div>
      
         <div class="item">
          <img class="second-slide" src="~/Images/baner/2.jpg" alt="Second slide">
       
        </div>
        <div class="item">
          <img class="third-slide" src="~/Images/baner/3.jpg" alt="Third slide">
    
        </div>
             <div class="item">
          <img class="third-slide" src="~/Images/baner/4.jpg" alt="Third slide">
       
        </div>
          
             <div class="item">
          <img class="third-slide" src="~/Images/baner/6.jpg" alt="Third slide">
       
        </div>
              <div class="item">
          <img class="third-slide" src="~/Images/catalogy/milan-1-u.jpg" alt="Third slide">
       
        </div>
           
      </div>
     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
     
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       
      </a>
    </div><!-- /.carousel -->



<div class="row" style="margin-top: 75px;" >
    <div class="col-md-12">
        <p style="font-weight: bold">
            Мебель недорого
        
            </p>
         
        <div>
           <p style="font-family:  Palatino Linotype; font-size: 10pt;">Мебельное производство Buona предлагает широкий ассортимент мебели высшего качества по доступным ценам. Мебель от производителя станет настоящим украшением вашего дома или офиса и действительно стоящим и надежным приобретением. За разумную цену вы сможете приобрести стильную мебель, которая отличается оригинальным дизайном и изготавливается только из лучших материалов, соответствует всем стандартам качества и требованиям эстетики. Покупая мягкую мебель фабрики «Buona», будьте уверены, что приобретаете не просто хорошую мебель, а мебель, над созданием которой трудились лучшие специалисты своего дела.</p>
        </div>

        
</div>

        <div class="col-md-12">
        <p style="font-weight: bold">
           Мягкая мебель
        
            </p>
         
        <div>
           <p style="font-family:  Palatino Linotype; font-size: 10pt;">В каталогах фабрики Buona Вы найдете большой выбор мягкой мебели: прямые и угловые диваны, кресла, пуфы и многое другое. Дизайнерские и конструкторские решения многообразны: покупателей ждут изделия в стиле ретро и классики, модерна и арт-деко, хай-тека и минимализма.</p>
        </div>

        
</div>
           <div class="col-md-12">
        <p style="font-weight: bold">
          Сотрудничество
        
            </p>
         
        <div>
           <p style="font-family:  Palatino Linotype; font-size: 10pt;">Предлагаем сотрудничество с региональными представителями, а так же мебельными центрами и выставочными салонами мебели во всех областях России и стран СНГ. Мебельная фабрика «Buona» заинтересована в сотрудничестве и постоянно наращивает свою дилерскую сеть. Получить пояснения по условиям сотрудничества можно, позвонив по <a href="~/Contenct">телефонам</a>  фабрики либо отправив запрос на <t data-toggle="modal" data-target="#myModal" >e-mail </t>Наша цель — это развитие и укрупнение региональной сети, увеличение объема продаж.
</p>
        </div>
<div class="clear_catalog">
    <h3 style="font-family:  Palatino Linotype;">Новинки производства</h3>

      <div class="col-xs-7 col-md-4">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/elite-1_1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#elite-1_1">

    </a>
      <div class="modal fade" id="elite-1_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Элита-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/elite-1_1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
         <div class="col-xs-7 col-md-4">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-5_1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-5_1">

    </a>
      <div class="modal fade" id="luks-5_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-5</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-5_1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
   <div class="col-xs-7 col-md-4">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks4.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks4">

    </a>
      <div class="modal fade" id="luks4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-4</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks4.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>

     

  
    </div>
</div>
</div>




