@{
     Layout = "~/_SiteLayout.cshtml";
          Page.Title = "Каталог мягкой мебели Buona";
}

<div class="row" id="komfort1">
             <p style="font-style: italic;font-size: 10pt;">Наиболее универсальным и востребованным механизмом трансформации диванов на сегодняшний день является механизм «книжка». Основным преимуществом диванов «книжек» является удивительная простота и надежность механизма и сравнительно низкая цена. Этот механизм проверен временем и дожил до сегодняшних дней, что лучше всего говорит о его надежности и неприхотливости.</p>

    </div>



<div class="row" id="komfort1">
      <h3>Коллекция Книжки</h3>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/knishka-1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#knishka-1">

    </a>
      <div class="modal fade" id="knishka-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Угловой диван </h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/knishka-1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/knishka-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#knishka-2">

    </a>
      <div class="modal fade" id="knishka-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Угловой диван </h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/knishka-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>




</div>
<div class="row" id="komfort1">
     <h3>Коллекция Диана</h3>
        
    <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/diana-1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#diana-1">

    </a>
      <div class="modal fade" id="diana-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Диана 1 </h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/diana-1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/diana-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#diana-2">

    </a>
      <div class="modal fade" id="diana-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Диана 1 </h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/diana-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>

</div>
<div class="row" id="komfort1">
     <h3>Коллекция Арбат</h3>
        <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/arbat.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#arbat">

    </a>
      <div class="modal fade" id="arbat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Арбат</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/arbat.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>


</div>


   
