@{
     Layout = "~/_SiteLayout.cshtml";
          Page.Title = "Каталог мягкой мебели Buona";

    Page.Key="Buona mebel, фабрика мебели г. Ульяновск, мягкая мебель от производителя, мебель Ульяновск, каталог мебели, мебель оптовикам, мебель по оптовым ценам";
    Page.Description="Buona - mebel каталог мебели Коллекция Леон";
}
<div style="margin-top: 150px;"></div>

<div class="row" id="leon2">
    <p style="font-style: italic;font-size: 10pt;">
Коллекция «ЛЕОН» - это воплощение изящества и спокойствия. В воздушно-теплой гамме коллекции ощущается легкое дыхание благородного минимализма. Чистота цвета декора и белая глянцевая поверхность наполняют пространство спальни светом и цветом. Теплые и уравновешенные тона создают естественную и изысканную обстановку полного уюта. Оригинальный дизайн элементов коллекции «ЛЕОН», сочетание классических традиций и современных стилистических тенденций не оставят равнодушными даже самых взыскательных покупателей. </p>
     <h3>Колекция Леон-2</h3>
    <hr>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/leon-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#leon-2">

    </a>
      <div class="modal fade" id="leon-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Леон-2</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/leon-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/leon-2-u.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#leon-2-u">

    </a>
      <div class="modal fade" id="leon-2-u" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Угловой диван Леон-2</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/leon-2-u.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    </div>
<div class="row">
<h3>Коллекция Леон-3</h3>
    <hr>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/leon-3.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#leon-3">

    </a>
      <div class="modal fade" id="leon-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Леон-3</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/leon-3.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div> 
</div>

   
   
   
