@{
     Layout = "~/_SiteLayout.cshtml";
            Page.Title = "Каталог мягкой мебели Buona";

    Page.Key="Buona mebel, фабрика мебели г. Ульяновск, мягкая мебель от производителя, мебель Ульяновск, каталог мебели, мебель оптовикам, мебель по оптовым ценам";
    Page.Description="Buona - mebel каталог мебели Коллекция Люкс";
}


<div class="row" id="luks1_modul">
     <p style="font-style: italic;font-size: 10pt;">Люкс – это серия двух- и трехместных диванов, в дизайне которых искусно смешаны разные стили и культуры. Мягкие изящные линии придают модели чувственность и погружают Вас в атмосферу спокойствия и гармонии с окружающим миром. Удобные сиденья, мягкие подлокотники, насыщенные и глубокие цвета обивки сделают этот диван Вашим любимым местом отдыха и общения с друзьями. Обтекаемая форма и идеальные пропорции. Надежная и в то же время легкая конструкция, широкие съемные подлокотники. Каркас мебели выполнен из брусьев хвойных пород, шлифованной фанеры толщиной 15 мм, с элементами из ДСП. Современный механизм тройной трансформации (ТТ) на каждый день, поэтому его одним движением можно превратить в большую кровать. Есть также большой бельевой ящик. Качественные материалы, из которых выполнены фигурные детали, обеспечивают долговечность мебели серии "Люкс". На сидячем месте установлены пружинистые «змейки», мягкие элементы спинки и подлокотников наполнены холофайбером. Все сделано для Вашего максимального удобства. Мягкой Вам посадки! </p>
     <h3>Коллекция Люкс - 1</h3>
   
    <hr>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-1">

    </a>
      <div class="modal fade" id="luks-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-1-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-1-2">

    </a>
      <div class="modal fade" id="luks-1-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-1-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-1-m.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-1-m">

    </a>
      <div class="modal fade" id="luks-1-m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-1-m.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-1-m2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-1-m2">

    </a>
      <div class="modal fade" id="luks-1-m2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-1-m2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
 
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
     <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-1-u.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-1-u">

    </a>
      <div class="modal fade" id="luks-1-u" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-1-u.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>

</div>
<div class="row" id="luks1_modul">
     <h3>Коллекция Люкс - 2</h3>
    <hr>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-2">

    </a>
      <div class="modal fade" id="luks-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-2</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-2-m.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-2-m">

    </a>
      <div class="modal fade" id="luks-2-m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-2</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-2-m.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  

</div>
<div class="row" id="luks1_modul">
     <h3>Коллекция Люкс - 3</h3>
    <hr>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-3.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-3">

    </a>
      <div class="modal fade" id="luks-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-3</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-3.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
   
  

</div>


   
   
   
   
   
