@{
          Layout = "~/_SiteLayout.cshtml";
    Page.Title = "«Buona» фабрика мягкой мебели – производство г. Ульяновск";
    Page.Key="Buona mebel, фабрика мебели г. Ульяновск, мягкая мебель от производителя, мебель Ульяновск, каталог мебели";
    Page.Description="Buona - фабрика мягкой мебели г. Ульяновск";
    }
<div class="row">
    <div class="col-md-12">
    <h4 style="color: #a72811">МЕХАНИЗМ ТРАНСФОРМАЦИИ «СЕДАФЛЕКС»</h4>
        <p>У многих потребителей словосочетание <b>“ американская раскладушка “</b> прочно ассоциируется именно с этим механизмом, который иногда так же называют “бельгийская” раскладушка (механизм разработан и выпускается франко-бельгийской фирмой SEDAC-MERAL). Седафлекс заслуженно зарекомендовал себя как механизм, который позволяет трансформировать диван в полноценное спальное место.</p>
        <div class="text-center"><img src="~/Images/Леон2_27.jpg" height="200" width="340"></div>
        <p>Чтобы разложить диван необходимо взяться за петлю (раму), которая находится впереди сиденья под полосой, закрывающей механизм и открыть механизм, потянув раму вверх и на себя, пока выдвинувшаяся ножка не коснется пола. Чтобы полностью открыть раскладушку, возьмитесь за ножку следующей секции и, подняв ее, поставьте на пол. Чтобы сложить диван, повторите все действия в обратном порядке.</p>
        <p>Изголовье получаемого спального места имеет три фиксированных положения, позволяющих удобно его отрегулировать для чтения или просмотра кинофильма.</p>
    </div>
    <div class="col-md-12">
    <h4 style="color: #a72811">МЕХАНИЗМ ТРАНСФОРМАЦИИ «ТИК-ТАК»</h4>
        <p><b>«Тик-Так»</b> - механизм трансформации дивана являющийся развитием «Еврокнижки». Диван с таким механизмом лишен недостатка, связанного с испорченным при разложении полом от передних ножек. Так же как и в традиционной «Еврокнижке» имеется вместительный ящик для белья.</p>
        <p>Название связано с маятниковым движением механизма разложения. Диван как бы вышагивает вперед, как маятник часов «тик» и складывается обратно «так».</p>
        <p>В механизме используются пружины и штанга-синхронизатор, которые облегчают разложение и не дают перекашиваться сиденью. Дополнительные резиновые подпятники в опорах навсегда избавляют от скрипов и следов на полу.</p>
        <div class="text-center"><img src="~/Images/Олимп3_раскл.jpg" height="200" width="340"></div>
        <p>Работает механизм трансформации «Тик-Так» следующим образом:</p>
        <ul>
        
            <li>С поверхности дивана убираются подушки и подголовники.</li>
            <li>Легким движением руки передняя продольная царга дивана подается на себя и вверх.</li>
            <li>Механизм трансформации продолжает начатое движение, выдвигая диванное сиденье далеко вперед и плавно опуская его опоры на пол. Совершаемое движение напоминает шаг вперед – «тик»!</li>
            <li>В том месте, где раньше располагалось сиденье, открывается полость, в которую укладываются диванные подушки. В итоге получается ровное широкое ложе.</li>
        </ul>
        <p>При сборке механизм трансформации «тик-так» действует аналогично, но в обратном порядке:</p>
        <ul>
        <li>Сначала из приспиночной полости вынимаются все подушки.</li>
            <li>Затем царга приподнимается и мягким толчком подается в сторону дивана.</li>
            <li>Механизм трансформации включается в работу и, втягивая сиденье в исходное положение, плавно опускает царгу на место. Диван словно делает шаг назад – «так»!</li>
            <li>Теперь остается только водрузить на место убранные подушки и можно сказать, что порядок в комнате восстановлен</li>
        </ul>
    </div>
    <div class="col-md-12">
        <h4 style="color: #a72811">МЕХАНИЗМ ТРАНСФОРМАЦИИ «ТТ»</h4>
        <p>Самый прочный механизм, рассчитанный на частые трансформации. Трансформация: потянув за потайной ремешок сидения, выдвинуть диван до полного разложения (при трансформации передняя часть тянет за собой остальные). Плюсы: наибольшая надежность среди всех механизмов трансформации; компактность в сложенном виде и большое спальное место - в разложенном. Минусы: высота спального места несколько ниже, чем обычно.</p>
        <div class="text-center"><img src="~/Images/Люкс1_8.jpg" height="200" width="340"></div>
    </div>

</div>

