@{
     Layout = "~/_SiteLayout.cshtml";
           Page.Title = "Каталог мягкой мебели Buona";

    Page.Key="Buona mebel, фабрика мебели г. Ульяновск, мягкая мебель от производителя, мебель Ульяновск, каталог мебели, мебель оптовикам, мебель по оптовым ценам";
    Page.Description="Buona - mebel каталог мебели модульный диваны";
}


<div class="row" id="luks1_modul">
     <h3>Коллекция модульных диванов Люкс</h3>
    <hr>
      <p style="font-style: italic;font-size: 10pt;">Люкс – это серия двух- и трехместных диванов, в дизайне которых искусно смешаны разные стили и культуры. Мягкие изящные линии придают модели чувственность и погружают Вас в атмосферу спокойствия и гармонии с окружающим миром. Удобные сиденья, мягкие подлокотники, насыщенные и глубокие цвета обивки сделают этот диван Вашим любимым местом отдыха и общения с друзьями. Обтекаемая форма и идеальные пропорции. Надежная и в то же время легкая конструкция, широкие съемные подлокотники. Каркас мебели выполнен из брусьев хвойных пород, шлифованной фанеры толщиной 15 мм, с элементами из ДСП. Современный механизм тройной трансформации (ТТ) на каждый день, поэтому его одним движением можно превратить в большую кровать. Есть также большой бельевой ящик. Качественные материалы, из которых выполнены фигурные детали, обеспечивают долговечность мебели серии "Люкс". На сидячем месте установлены пружинистые «змейки», мягкие элементы спинки и подлокотников наполнены холофайбером. Все сделано для Вашего максимального удобства. Мягкой Вам посадки! </p>
<div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-1-m.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-1-m">

    </a>
      <div class="modal fade" id="luks-1-m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-1 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-1-m.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-1-m2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-1-m2">

    </a>
      <div class="modal fade" id="luks-1-m2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-1 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-1-m2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
   <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks4.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks4">

    </a>
      <div class="modal fade" id="luks4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-4</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks4.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
           <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks4_u.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks4_u">

    </a>
      <div class="modal fade" id="luks4_u" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Угловой диван Люкс-4</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks4_u.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-2-m.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-2-m">

    </a>
      <div class="modal fade" id="luks-2-m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-1 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-2-m.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
   
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-1-u.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-1-u">

    </a>
      <div class="modal fade" id="luks-1-u" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Угловой диван Люкс-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-1-u.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-2">

    </a>
      <div class="modal fade" id="luks-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-2</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-1">

    </a>
      <div class="modal fade" id="luks-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
   <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-1-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-1-2">

    </a>
      <div class="modal fade" id="luks-1-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-1-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-3.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-3">

    </a>
      <div class="modal fade" id="luks-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-3</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-3.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
     <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-5.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-5">

    </a>
      <div class="modal fade" id="luks-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-5</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-5.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
             <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-5_1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-5_1">

    </a>
      <div class="modal fade" id="luks-5_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-5</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-5_1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
       <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-5_2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-5_2">

    </a>
      <div class="modal fade" id="luks-5_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-5</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-5_2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-5_3.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-5_3">

    </a>
      <div class="modal fade" id="luks-5_3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-5</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-5_3.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
<div class="row" id="elita">
     <h3>Коллекция модульных диванов Элита </h3>
    <hr>
    <p style="font-style: italic;font-size: 10pt;"> 
    Модульная система Элита универсально подходит для любых жизненных пространств: небольшой и уютной городской квартиры или просторного холла особняка. Сочетание правильных прямоугольных форм и скошенных линий подлокотников и спинки рисует современный облик дивана. Особый шарм модели придают хромированные вставки на фоне благородной обивки.
</p>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/elite-1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#elite-1">

    </a>
      <div class="modal fade" id="elite-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Элита-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/elite-1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
              <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/elite-1_1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#elite-1_1">

    </a>
      <div class="modal fade" id="elite-1_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Элита-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/elite-1_1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>


    
  
   
    </div>

<div class="row" id="shans4_modul">
     <h3>Коллекция модульных диванов Шанс</h3>
      <hr>
     <p style="font-style: italic;font-size: 10pt;">Без сомнения, одна из самых удачных находок современных дизайнеров последнего десятилетия - модульная система диванов. Что это такое? И чем она так примечательна? Мягкая модульная мебель представляет собой совокупность отдельных и до поры до времени независимых элементов, которые, будучи соединенными тем или иным образом, превращаются в полноценный диван. Если говорить проще, то модульные диваны – это особая разновидность диванов, которые состоят из нескольких частей (модулей), которые можно объединять между собой любым способом на наш выбор. Вы можете менять их конфигурацию тогда, когда вам заблагорассудится, каждый раз обновляя интерьер, снова и снова воплощая свои творческие замыслы в реальность. </p>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-4-m-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-4-m-2">

    </a>
      <div class="modal fade" id="shans-4-m-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Шанс-4 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-4-m-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
         
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-4-m-6.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-4-m-6">

    </a>
      <div class="modal fade" id="shans-4-m-6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Шанс-4 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-4-m-6.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>

  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-4-m-4.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-4-m-4">

    </a>
      <div class="modal fade" id="shans-4-m-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Шанс-4 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-4-m-4.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-4-m-5.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-4-m-5">

    </a>
      <div class="modal fade" id="shans-4-m-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Шанс-4 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-4-m-5.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-5-m.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-5-m">

    </a>
      <div class="modal fade" id="shans-5-m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Шанс-4 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-5-m.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
   
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-5-m-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-5-m-2">

    </a>
      <div class="modal fade" id="shans-5-m-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Шанс-4 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-5-m-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div> 

</div>



   
   
