@{
          Layout = "~/_SiteLayout.cshtml";
    Page.Title = "«Buona» фабрика мягкой мебели – производство г. Ульяновск";
    Page.Key="Buona mebel, фабрика мебели г. Ульяновск, мягкая мебель от производителя, мебель Ульяновск, каталог мебели";
    Page.Description="Buona - фабрика мягкой мебели г. Ульяновск";
}

<div class="row">
    <div class="col-md-12">
    <h4 style="color: #a72811">ПРАВИЛА ЭКСПЛУАТАЦИИ</h4>
        <p>Мебель Buona предназначена для отдыха в закрытых жилых помещениях и офисах. Рекомендуемая относительная влажность составляет 45 - 70%; рекомендуемая температура - от +2 до +100С.</p>
        <p><b>Во время эксплуатации мебели не рекомендуется:</b></p>
        <ul>
        <li>сидеть, стоять на подлокотниках и мягких элементах спинок;</li>
            <li>поднимать изделие за мягкие элементы и перемещать, толкая;</li>
            <li>устанавливать мебель на расстоянии менее 50 см от источников тепла (нагревателей и др.);</li>
            <li>подвергать ее воздействию прямых солнечных лучей и лучей мощных ламп накаливания;</li>
            <li>ставить на поверхность мебели горячие предметы и предметы с острыми кромками.</li>
        </ul>
        <p><b>ВАЖНО ЗНАТЬ</b></p>
        <p>Мебель, облицованную натуральной кожей, при транспортировке и хранении при минусовых температурах необходимо до начала эксплуатации выдержать в теплом помещении не менее суток без механических воздействий, не снимая упаковку.</p>
       </div>
    <div class="col-md-12">
    <h4 style="color: #a72811">ГАРАНТИЯ</h4>
        <p>Гарантийное обязательство распространяется на мебель, выпущенную под торговой маркой “Фабрика мягкой мебели “Buona”, и вместе с изделием передается покупателю. Бесплатное обслуживание (ремонт) осуществляется в течение гарантийного срока эксплуатации мебели при соблюдении условий транспортировки, эксплуатации и рекомендаций по уходу за мебелью, изложенных в данном руководстве, а также при наличии данного руководства с заполненными продавцом гарантийным талоном и паспортом изделия. Руководство по эксплуатации должно храниться у покупателя в течение срока службы изделия.</p>
        <p>Не являются дефектами мебели:</p>
        <ul>
        <li>Разная интенсивность окраски (разнооттеночность) обивочных тканей и кож, находящаяся в пределах трех баллов девятибалльной серой шкалы.</li>
            <li>Незначительные разнооттеночность цвета лакокрасочного покрытия и отличие рисунка декоративных элементов.</li>
        </ul>
        <p>Гарантийное сервисное обслуживание осуществляется по заявлению покупателя, поданному в салон, где приобретена мебель.</p>
        <p>Срок ремонта, удовлетворение требований соответствуют сроку, определенному в Законе о защите прав потребителей, либо определяется соглашением сторон. Ремонт производится на дому или на предприятии в зависимости от характера дефекта. Доставка мебели в ремонт и из ремонта осуществляется транспортом продавца.</p>
    <div class="text-center"><img src="~/Images/pravila.png" width="500" height="150"></div>
    </div>

    

</div>

