@{
      Layout = "~/_SiteLayout.cshtml";
          Page.Title = "«Buona» фабрика мягкой мебели – производство г. Ульяновск";
    Page.Key="Buona mebel, фабрика мебели г. Ульяновск, мягкая мебель от производителя, мебель Ульяновск, каталог мебели";
    Page.Description="Buona - фабрика мягкой мебели г. Ульяновск";
}



        <section class="row">
            <p>Современная производственная база позволяет нам разрабатывать качественную продукцию на основе проверенных и экологически чистых материалов, а успешная система управления помогает максимально быстро реагировать на внешние изменения и эффективно управлять рыночными процессами.</p>
            <P>Мы находимся в непрерывном поиске нестандартных идей, разработок в области производства и дизайна. Кроме того, мы предоставляем возможность создавать индивидуальные интерьеры. Вся мебель собирается из элементов, выполненных в одном стиле. Ваше стремление окружить себя красивыми и удобными вещами будет удовлетворено в полной мере!</P>
            <p>На сегодняшний день наша компания готова производить до 300 комплектов мягкой мебели в месяц.</p>
            <p><b>Фабрика мягкой мебели "Buona" </b>- это предприятие, обладающее собственными производственными и административными площадями:</p>
           <ul>
           <li>Столярный цех;</li>  
           <li>Распиловка древесины:</li>
           <li>Сборка каркасов;</li> 
           <li>Цех обивки и сборки готовой продукции;</li>
           <li>Участок контроля продукции;</li>
           <li>Поролоновый цех;</li> 
           <li>Инженерно-технологический отдел;</li>
           <li>Склад готовой продукции;</li>
           <li>Технический склад;</li>
           <li>Швейный цех;</li>
           <li>Закроечный цех;</li>
           <li>Административный корпус.</li> 
            </ul>

            <p>Наша фабрика постоянно совершенствует свои технологические процессы, регулярно обновляет оборудование, привлекает к работе высококвалифицированных специалистов мебельного производства, разрабатывает новинки мягкой мебели в соответствии с мировыми тенденциями мебельной моды.</p>
                 <img src="~/Content/images/proiz/215.jpg" height="250" width="300" alt="Фабрика Мебели Buona" />
        <img src="~/Content/images/proiz/5137.jpg" height="250" width="300" alt="Фабрика Мебели Buona"  />
        <img src="~/Content/images/proiz/fabrika-mebeli.jpg" height="250" width="300" alt="Фабрика Мебели Buona"  />
        </section>   
