@{
     Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Каталог прямых диванов";
}


<div class="row" id="leon2">
  <h3>Коллекция Прямых диванов</h3>
    <hr>
    <div class="row">
        <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/elite-1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#elite-1">

    </a>
      <div class="modal fade" id="elite-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Элита-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/elite-1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
         <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/olimp-5.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#olimp-5">

    </a>
      <div class="modal fade" id="olimp-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Олимп 5</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/olimp-5.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
     <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/milan-1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#milan-1">

    </a>
      <div class="modal fade" id="milan-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Милан 1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/milan-1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
     <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/milan-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#milan-2">

    </a>
      <div class="modal fade" id="milan-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Милан 2</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/milan-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>

    

           </div>  
     


    <div class="row">

          <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks4.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks4">

    </a>
      <div class="modal fade" id="luks4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-4</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks4.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>

    <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-1-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-1-2">

    </a>
      <div class="modal fade" id="luks-1-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-1-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
         <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/agata-1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#agata-1">

    </a>
      <div class="modal fade" id="agata-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Агата-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/agata-1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/olimp-1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#olimp-1">

    </a>
      <div class="modal fade" id="olimp-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Олимп-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/olimp-1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>

        </div>
   <div class="row">
           <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/olimp-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#olimp-2">

    </a>
      <div class="modal fade" id="olimp-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Олимп-2</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/olimp-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
               <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/mechta-1.jpg" alt="1" height="150px" width="300px" data-toggle="modal" data-target="#mechta-1">

    </a>
      <div class="modal fade" id="mechta-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Куханный уголок Мечта-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/mechta-1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
     <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/diana.jpg" alt="1" height="150px" width="300px" data-toggle="modal" data-target="#diana">

    </a>
      <div class="modal fade" id="diana" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/diana.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/olimp-3-3.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#olimp-3-3">

    </a>
      <div class="modal fade" id="olimp-3-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Олимп-3</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/olimp-3-3.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>

   </div>
   

    <div class="row">
       <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/knishka-1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#knishka-1">

    </a>
      <div class="modal fade" id="knishka-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Угловой диван </h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/knishka-1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/knishka-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#knishka-2">

    </a>
      <div class="modal fade" id="knishka-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Угловой диван </h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/knishka-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/olimp-6.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#olimp-6">

    </a>
      <div class="modal fade" id="olimp-6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Олимп-6</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/olimp-6.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>

    <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/nika-1-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#nika-1-2">

    </a>
      <div class="modal fade" id="nika-1-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Ника-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/nika-1-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
        </div>
<div class="row">

         <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/agata-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#agata-2">

    </a>
      <div class="modal fade" id="agata-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Агата-2</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/agata-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>



     <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/luks-1.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#luks-1">

    </a>
      <div class="modal fade" id="luks-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Люкс-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/luks-1.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    
</div>
 
    </div>

   
   
   
