@{
          Layout = "~/_SiteLayout.cshtml";
        Page.Title = "Реквизиты";

    Page.Key="Buona mebel, фабрика мебели г. Ульяновск, мягкая мебель от производителя, мебель Ульяновск, каталог мебели";
    Page.Description="Buona - фабрика мягкой мебели г. Ульяновск";
}




<div class="row">
    <h2>Реквизиты</h2>
    <p>Индивидуальный предприниматель <b>Шарафутдинов Зуфар Гаффанович</b></p>
    <p>Российская Федерация, 432067 г. Ульяновск, 2-ой проезд Инженерный, 2 "Ш"</p>
    <p><span>ИНН: </span>732803455102</p>
    <p><span>ОГРНИП: </span>304732807000105 от 10.03.2004 г.</p>
    <p><span>Р/с: </span>40802810669170103741 в Ульяновском ОСБ № 8588 г. Ульяновска</p>
    <p><span>К/с: </span>30101810000000000602</p>
    <p><span>БИК: </span>047308602</p>
    <p><span>ОГРН: </span>1027700132195</p>
    <p><span>ОКПО: </span> 04774767</p>
    <p>КПП Заволжского отделения № 8286: 732802001</p>
</div>

