@{
     Layout = "~/_SiteLayout.cshtml";
        Page.Title = "Коллекция мебели Шанс";

    Page.Key="Buona mebel, фабрика мебели г. Ульяновск, мягкая мебель от производителя, мебель Ульяновск, каталог мебели, мебель оптовикам, мебель по оптовым ценам";
    Page.Description="Buona - mebel каталог мебели Коллекция Шанс";
}

<div class="row" id="shans4_modul">
         <p style="font-style: italic;font-size: 10pt;">Без сомнения, одна из самых удачных находок современных дизайнеров последнего десятилетия - модульная система диванов. Что это такое? И чем она так примечательна? Мягкая модульная мебель представляет собой совокупность отдельных и до поры до времени независимых элементов, которые, будучи соединенными тем или иным образом, превращаются в полноценный диван. Если говорить проще, то модульные диваны – это особая разновидность диванов, которые состоят из нескольких частей (модулей), которые можно объединять между собой любым способом на наш выбор. Вы можете менять их конфигурацию тогда, когда вам заблагорассудится, каждый раз обновляя интерьер, снова и снова воплощая свои творческие замыслы в реальность. </p>
     <h3>Коллекция Шанс-4</h3>
      <hr>

  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-4-m-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-4-m-2">

    </a>
      <div class="modal fade" id="shans-4-m-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Шанс-4 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-4-m-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p>Вариант-2 Общие габариты: 3380х1650</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-4-m-6.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-4-m-6">

    </a>
      <div class="modal fade" id="shans-4-m-6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Шанс-4 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-4-m-6.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-4-m-4.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-4-m-4">

    </a>
      <div class="modal fade" id="shans-4-m-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Шанс-4 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-4-m-4.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p>Вариант-2 Общие габариты: 3380х1650</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-4-m-5.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-4-m-5">

    </a>
      <div class="modal fade" id="shans-4-m-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Шанс-4 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-4-m-5.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    </div>
<hr>
<div class="row" id="shans4_modul">
     <h3>Коллекция Шанс-5</h3>
      <hr>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-5-m.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-5-m">

    </a>
      <div class="modal fade" id="shans-5-m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Шанс-4 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-5-m.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p>Вариант-2 Общие габариты: 3380х1650</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-5-m-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-5-m-2">

    </a>
      <div class="modal fade" id="shans-5-m-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Диван Шанс-4 модульный</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-5-m-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p>Вариант-2 Общие габариты: 3380х1650</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div> 
    </div>


<hr>
<div class="row" id="shans4_modul">
     <h3>Коллекция Шанс-2</h3>
      <hr>


  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-2-u.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-2-u">

    </a>
      <div class="modal fade" id="shans-2-u" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Угловой диван Шанс-2</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-2-u.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    </div>
<hr>
<div class="row" id="shans4_modul">
     <h3>Коллекция Шанс - 3</h3>
      <hr>
    <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-3.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-3">

    </a>
      <div class="modal fade" id="shans-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Угловой диван Шанс-3</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-3.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/shans-3-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#shans-3-2">

    </a>
      <div class="modal fade" id="shans-3-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Угловой диван Шанс-2</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/shans-3-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
   
   
