@{
          Layout = "~/_SiteLayout.cshtml";
  Page.Title = "«Buona» фабрика мягкой мебели – производство г. Ульяновск";

    Page.Key="Buona mebel, фабрика мебели г. Ульяновск, мягкая мебель от производителя, мебель Ульяновск, каталог мебели";
    Page.Description="Buona - фабрика мягкой мебели г. Ульяновск";
}


<div class="row">
    <div  class="info_st" style=" border-radius: 8px;">
    <div class="row">
    <div class="col-md-5">
    <img src="~/images/11.jpg" width="280" height="200">
    </div>
        <div class="col-md-6">
        <p>Отзывы покупателей:<a href="http://vk.com/topic-8953943_29930124" style="color: #0094ff">vk.com/topic-8953943_29930124</a>
 </p>
            <p>Если вы - счастливый обладатель мебели или предметов интерьера от Buona, мы будем признательны за ваш отзыв! Он будет полезен и для нас, и для тех, кто только собирается обратиться в наш интернет-магазин и нуждается в вашем мнении и совете. </p>
            <p>Если вы столкнулись с какими-то проблемами - мы поможем вам оперативно разобраться. </p>
            <p>Качество - это делать правильно, даже когда никто не смотрит. (Henry Ford)
</p>

        </div>
    </div>
    </div>
        <div  class="info_st" style=" border-radius: 8px;">
    <div class="row">
    <div class="col-md-5">
    <img src="~/images/12.png" width="380" height="200">
    </div>
        <div class="col-md-6">
        <p>Поставщики мебельных тканей: </p>
            <p>ПТК: <a href="http://promtehkomplekt.com" style="color: #0094ff">promtehkomplekt.com </a>; ARBEN:  <a href="http://arben-textile.ru/catalog" style="color: #0094ff">arben-textile.ru/catalog </a></p>
            <p>Фурор:<a href="http://furor-mebel.ru/catalog" style="color: #0094ff">furor-mebel.ru/catalog</a> Ткани-Века: <a href="http://tkani-veka.ru " style="color: #0094ff">tkani-veka.ru </a> </p>
            <p>Адилет: <a href="http://adilet.net/velur2" style="color: #0094ff">adilet.net/velur2</a>; Союз-М: <a href="http://souz-m.ru" style="color: #0094ff">souz-m.ru</a>; Эгида: <a href="http://egida.ru " style="color: #0094ff">egida.ru </a></p>
            <p>Вельвет: <a href="http://velvet73.ru/" style="color: #0094ff">velvet73.ru</a>; БОНЛАЙф: <a href="http://bonlaif.ru" style="color: #0094ff">bonlaif.ru</a>

        </div>
    </div>
    </div>
         <div  class="info_st" style=" border-radius: 8px;">
    <div class="row">
    <div class="col-md-5">
    <img src="~/images/13.jpg" width="380" height="200">
    </div>
        <div class="col-md-6">
        <p>Региональные представители фабрики: </p>
            <p>За время своей работы мы заслужили уважение и доверие наших покупателей. 
Это подтверждает география продаж компании: диваны и кресла фабрики радуют жителей таких городов, как Оренбург, Уфа, Самара, Рязань, Москва, Казань, Йошкар-Ола, Орск, Тула, Тверь, Нефтекамск, Набережные Челны, Чебоксары, Челябинск, Белгород, Нягань и других. 
</p>
            <p>
                Адреса торговых точек в Вашем регионе уточняйте у представителей фабрики мебели «BUONA» 
            </p>

        </div>
    </div>
    </div>
           <div  class="info_st" style=" border-radius: 8px;">
    <div class="row">
    <div class="col-md-5">
    <img src="~/images/14.jpg" width="380" height="200">
    </div>
        <div class="col-md-6">
        <p>Мы будем рады сотрудничеству с мебельными центрами и выставочными салонами Казахстана.
Для представителей Казахстана действует спец-предложение.
 </p>
            <p>
Предлагаем Вам качественную мебель по разумным ценам, что обеспечит Вам выгоду. Весь товар имеет сертификаты качества.

</p>
           

        </div>
    </div>
    </div>
    
    <div style="margin-bottom: 115px;"></div>
</div>


















