@{
          Layout = "~/_SiteLayout.cshtml";
        Page.Title = "Правила эксплуатации мебели";

    Page.Key="Buona mebel, фабрика мебели г. Ульяновск, мягкая мебель от производителя, мебель Ульяновск, каталог мебели";
    Page.Description="Buona - фабрика мягкой мебели г. Ульяновск";
    }
<div class="row">
    <div class="col-md-12">
    <h4 style="color: #a72811">УХОД ЗА КОЖАМИ</h4>
        <p><b>Чтобы Ваша мебель всегда имела безупречный вид и служила дольше, необходимо правильно ухаживать за ней.</b></p>
        <p>Кожа - натуральный продукт, она создается природой и поэтому имеет уникальные и неповторимые особенности. Это первый материал, который люди научились использовать для обивки мебели. Мебель в хорошей коже очень долговечна и со временем становится еще совершенней, приобретая лёгкий налёт благородной патины.</p>
          <div class="text-center"><img src="~/Images/s1.png" height="200" width="340"></div>
        <p>Поэтому покупка кожаного дивана или кресла – это хорошее вложение средств в культуру вашего жилища. Кожаная мебель не просто предмет интерьера. Она «живёт» вместе со своими владельцами.</p>
        <p>Разброс цен мебели в разных кожах очень велик. Ведь качество и ценность данного материала складываются из многих составляющих. Кожи различают по видам сырья, из которого они производятся, по конфигурации (различия в технологической цепочке), способу и характеру отделки, толщине, площади и другим параметрам.</p>
        <p><b>Характеристики типов кож, относящихся к различным группам</b></p>
        <p><b>Кожи с полностью скорректированным лицом.</b></p>
        <p>Шкуры проходят глубокую строжку верхнего слоя с целью свести к минимуму прижизненные дефекты.</p>
        <p>Они очень тщательно обрабатываются: строжкой убираются все видимые дефекты лицевого слоя. После окраски делается накат среднезернистого глубокого тиснения. Затем кожа покрывается тончайшим слоем полиуретанового лака, стойкого к механическим воздействиям, загрязнениям и воздействиям влаги. В результате такой обработки поверхность кожи приобретает новое - полностью скорректированное «лицо». Таким образом, получается красивая кожа с практически безукоризненной поверхностью.</p>
        <p>Несмотря на все изменения, происходящие с кожами в процессе обработки, они сохраняют достоинства натурального материала - цвет, фактуру, запах, стойкость к механическим воздействиям. Эти кожи имеют очень высокие показатели теста на мокрое истирание – свыше 300 циклов. Все операции по улучшению внешнего вида и окраске производятся только водными составами. Поэтому химические чистящие средства в уходе не допустимы.</p>
        
     </div>
    <div class="col-md-12">
    <h4 style="color: #a72811">УХОД ЗА ТКАНЯМИ</h4>
        <p><b>Общие рекомендации по уходу.</b></p>
        <p>Для сохранения и поддержания обивки мебели в надлежащем состоянии необходима регулярная обработка тканевой обивки пылесосом или мягкой щёткой и своевременное удаление любого вещества, способного вызвать образование пятна.</p>
        <div class="text-center"><img src="~/Images/s2.jpg" height="400" width="340"></div>
        <p>Помните, что чистить ткань необходимо лёгкими круговыми движениями от внешнего края к центру. После чистки необходимо сразу же высушить горячим воздухом на некотором расстоянии от ткани.</p>
        <p><b>Не рекомендуется:</b></p>
        <ul>
        <li>производить абразивную чистку;</li>
            <li>применение абразивных очистителей, детергентов, аммиачной воды или каких-либо иных химических растворов;</li>
            <li>применение агрессивных жидкостей высокой концентрации (спирты, кислоты, щелочи, растворители, кислородные окислители).</li>
            <li>Для большинства мебельных тканей рекомендуется только сухая чистка (химчистка).</li>

        </ul>
        <p><b>Рекомендации по уходу за обивкой со съемными чехлами</b></p>
        <p>Большинство тканей, используемых для обивки мягкой мебели со съёмными чехлами, можно стирать вручную, а некоторые - и в стиральной машине (см. рекомендации производителя). При этом очень важно соблюдать следующие правила:</p>
        <ul>
        <li>Стирайте чехлы, вывернув их наизнанку, с застегнутыми молниями. Если на чехлах есть липучки, изолируйте их от ткани.</li>
            <li>Используйте нейтральные моющие средства.</li>
            <li>Стирайте при рекомендованной производителем температуре. При использовании стиральной машины, выбирайте деликатную программу стирки.</li>
            <li>Используйте минимум центрифуги.</li>
            <li>Сушить ткань необходимо при комнатной температуре, избегая попадания прямых солнечных лучей.</li>
            <li>Гладить при рекомендованной производителем температуре через белую хлопковую ткань. Ткани типа микрофибры и шенилла гладят с изнанки.</li>
        </ul>
        <p><b>Не рекомендуется:</b></p>
        <ul>
        <li>использование чистящих средств, содержащих отбеливатели;</li>
            <li>использование смягчителей.</li>
        </ul>
    </div>


    

</div>

