@{
     Layout = "~/_SiteLayout.cshtml";
          Page.Title = "Каталог мягкой мебели Buona";

    Page.Key="Buona mebel, фабрика мебели г. Ульяновск, мягкая мебель от производителя, мебель Ульяновск, каталог мебели, мебель оптовикам, мебель по оптовым ценам";
    Page.Description="Buona - mebel каталог мебели коллекция Нют";
}


<div class="row" id="yut1">
         <p style="font-style: italic;font-size: 10pt;">Серия «Уют» открывает для Вас увлекательную галерею палитры цветов. Если Вы активный, жизнерадостный человек и терпеть не можете серых будней, тогда Вам, наверняка, понравится мебель в теплых тонах. </p>
     <h3>Коллекция Уют-1</h3>

  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/yut-1-u.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#yut-1-u">

    </a>
      <div class="modal fade" id="yut-1-u" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Угловой диван Уют-1</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/yut-1-u.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    </div>
<hr>

<hr>
<div class="row" id="yut1">
     <h3>Коллекция Уют-3</h3>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/yut-3-u.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#yut-3-u">

    </a>
      <div class="modal fade" id="yut-3-u" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Угловой диван Уют-3</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/yut-3-u.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/yut-3-u-2.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#yut-3-u-2">

    </a>
      <div class="modal fade" id="yut-3-u-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Угловой диван Уют-3</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/yut-3-u-2.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
    </div>
<hr>
<div class="row" id="yut1">
     <h3>Коллекция Уют-4</h3>
  <div class="col-xs-7 col-md-3">
    <a href="#" class="thumbnail">
    <img src="~/Images/catalogy/yut-4-u.jpg" alt="" height="150px" width="300px" data-toggle="modal" data-target="#yut-4-u">

    </a>
      <div class="modal fade" id="yut-4-u" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog1">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Угловой диван Уют-4</h4>
          
      </div>
      <div class="modal-body">
          <img src="~/Images/catalogy/yut-4-u.jpg" class="img_catalog" alt="...">

      </div>
      <div class="modal-footer">
          <p></p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
  </div>
   
</div>



   
   
