@{
      Layout = "~/_MarketLayout.cshtml";
              Page.Title = "Доставка мебели";
    Page.Key="Производство мягкой мебели, Мебельная фабрика, Мягкая мебель на заказ, мебель с доставкой";
    Page.Description="Фабрика мебели Buona. Доставим мебель";
}

<div class="row" style="margin-left:100px; margin-top:50px;">
    <div class="col-md-10">
        <p style="color:#ff0000;font-size:8pt;">Примечание:<br />До того как рассчитать стоимость доставки, Мы предлагаем связаться с Нами, для того чтобы Мы дали направление на наиболее подходящий и удобный для Вас из ниже предложенных вариантов, т.к.   <span style="text-decoration:underline">интернет-магазин «Buona» не несет ответственности за доставку грузов.</span></p>
    </div>
   
    <div class="col-md-10">
        <h2 class="text-center">Доставка</h2>
        <h3>1. Доставка мягкой мебели </h3>
       <ul>
           <li>Воспользоваться услугами транспортной компании <a href="http://pecom.ru/ru/calc/" style="color: #0094ff">ПЭК, </a> <a href="http://ulyanovsk.dellin.ru/requests/ "style="color: #0094ff"> Деловые линии, </a> <a href="http://www.jde.ru/calc"style="color: #0094ff">Ж.Д.Э.</a>  и другие, которые  доставят Ваш груз в оптимальные сроки и в максимальной сохранности. После предварительного расчета, свяжитесь с компанией по телефону:
           <ul>
               <li>менеджер рассчитает Вам точную стоимость доставки;</li>
               <li>ознакомит с условиями оплаты;</li>
               <li>с условиями подъёма в квартиру и т.п.;</li>
           </ul>
           
           
           
           

</li>
       </ul>
        <br />
        <h3>2. Самовывоз</h3>
        <div class="col-md-10">
            <p>
               При желании вы можете самостоятельно забрать приобретенные товары с нашего склада. Для этого, оформляя заказ, сообщите оператору, что хотите воспользоваться бесплатной услугой самовывоза. Адрес нашего склада: г. Ульяновск, 2-ой проезд Инженерный 2«ш» Время работы склада: с 08.00 до 17.00, кроме субботы и воскресенья.
            </p>
            <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=uSrV2r5ydp7PSrcxplob8_Avpmrsl34l&width=600&height=450"></script>
        </div>
      
        
            <div class="col-md-10">
            <h2 class="text-center">Оплата</h2>
            <ul>
                <li>Оплата за <span style="text-decoration:underline">мягкую мебель</span>  производится в размере 100% по <a href="http://buona-market.ru/rek">безналичному расчетному счету</a> </li>
                <li>Если Вы воспользуетесь транспортной компанией, оплата за доставку мягкой мебели производит покупатель, при получение груза </li>
            </ul>
        </div>

        <div class="col-md-9">
            <h4>Примечание</h4>
            <p><span style="text-decoration:underline">Транспортная компания берет на себя полную ответственность за то, что груз будет доставлен в полной сохранности  </span>Однако некоторые виды грузов как мягкая мебель нуждаются в дополнительной защите. Если их не упаковать, то транспортная компания не сможет гарантировать качественное исполнение своих обязательств. </p>
            <p>Для обеспечения сохранности груза предлагаем Вам услугу «спец-упаковка»:<br />Стоимость «спец-упаковки» 500.00 руб.</p>

            <p style="font-weight:600">«Спец-упаковка» сосоит из:</p>
            <ul>
                <li>гофро-картон листовой</li>
                <li>пленка полиэтиленовая</li>
            </ul>
            <img src="~/images/upakovka.jpg" />
        </div>
        
    </div>
</div>
<div id="scrollup">
    <img src="~/images/up.png" class="up" alt="Прокрутить вверх" />
</div>
<script>
window.onload = function () { // после загрузки страницы

    var scrollUp = document.getElementById('scrollup'); // найти элемент

    scrollUp.onmouseover = function () { // добавить прозрачность
        scrollUp.style.opacity = 0.3;
        scrollUp.style.filter = 'alpha(opacity=30)';
    };

    scrollUp.onmouseout = function () { //убрать прозрачность
        scrollUp.style.opacity = 0.5;
        scrollUp.style.filter = 'alpha(opacity=50)';
    };

    scrollUp.onclick = function () { //обработка клика
        window.scrollTo(0, 0);
    };

    // show button

    window.onscroll = function () { // при скролле показывать и прятать блок
        if (window.pageYOffset > 0) {
            scrollUp.style.display = 'block';
        } else {
            scrollUp.style.display = 'none';
        }
    };
};</script>
