@{
        Page.Title = "Гарантии на мебель";
    Page.Key="Производство мягкой мебели, Мебельная фабрика, Мягкая мебель на заказ, мебель с гарантией";
    Page.Description="Фабрика мебели Buona.";
    Layout = "~/_MarketLayout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
<h2 class="text-center">Нам важно, чтобы Вы остались довольны своей покупкой</h2>
<div class="row">
    <div class="home_garantii">
    <b style="margin-bottom:15px;">Для вашего удобства у Нас работают:</b>
        <br />

<span>Служба  контроля качества продукции</span>
        <br />
        <p>Перед продажей Мы тестируем товар на соответствие его заявленным техническим характеристикам, тщательно проверяем на отсутствие дефекта и повреждений.</p>
        <br />
<span>Отдел контроля качества обслуживания</span>
        <br />
        <p>Если по какой-то причине Вы остались недовольны качеством обслуживания наших сотрудников, пожалуйста, сообщите нам по адресу buona-mebel@mail.ru о проблеме, которую не удалось решить. Мы обязательно разберёмся в сложившейся ситуации и напишем Вам о результатах.</p>
        <span>Cроки и условия гарантии</span>
        <ul>
            <li>Товар должен соответствовать ее образцу или описанию, качество которой соответствует информации, представленной Покупателю при заключении Договора, а так же информации, доведенной до его сведения при передаче Товара (паспорт изделия).</li>
            <li>Гарантийный срок исчисляется с момента передачи товара и действует в течении <span><b>18 (восемнадцати) месяцев</b></span> (за исключением механизма трансформации ). Неустранимые дефекты механизма трансформации «раскладушка» являются основанием для его замены, но не являются основанием для замены мебели, т.к. гарантия на механизм трансформации предоставляется в соответствии с гарантией производителя механизма (указывается в паспорте на механизм). Гарантийный срок на механизм реклайнер – 12 месяцев.</li>
            <li>Срок службы -  7 (семь) лет.</li>
            <li>В случае приобретения <span><b> распродажного (уцененного) Товара</b></span>, претензии по качеству и внешнему виду изделия не принимаются.</li>
            <li>Бесплатный гарантийный ремонт распространяется только на дефекты, возникшие по вине производителя.</li>
            <li>Во избежание недоразумений Покупатель обязан внимательно изучить инструкцию по эксплуатации мебели (паспорт изделия). Гарантийное обслуживание включает в себя проведение ремонтных работ и замену дефектных частей изделий. Основанием гарантийного обслуживания является заключенный договор и заполненный гарантийный талон (паспорт изделия). Гарантийное обслуживание осуществляется по заявлению Покупателя. Устранение выявленных недостатков производится на дому или на предприятии в зависимости от характера дефекта в течение 30 дней с момента письменного заявления Покупателя (ст. 20 Закона РФ «О защите прав потребителей»).</li>
        </ul>
        <br />
        <h3>СЛУЧАИ, КОГДА НЕ ПРОИЗВОДИТСЯ ГАРАНТИЙНОЕ ОБСЛУЖИВАНИЕ:</h3>
        <ul>
            <li>истечение гарантийного срока</li>
            <li>невыполнение условий эксплуатации</li>
            <li>наличие следов постороннего вмешательства и механических повреждений</li>
            <li>превышение допустимых нагрузок на механизм трансформации</li>
            <li>нанесение ущерба изделию или его утери вследствие обстоятельств непреодолимой силы (стихия, пожар, несчастные случаи и т.д.)</li>
            <li>нанесение ущерба изделию в результате умышленных или ошибочных действий Покупателя, повреждение домашними животными</li>
            <li>потертости мебельной облицовки, возникающие в местах постоянной эксплуатации</li>
            <li>повреждение повышенной температурой (например, утюгом) и огнем, повышенной влажностью (эксплуатация в бане и т. д.), повреждение, в результате резких перепадов температуры (транспортировка и т.п.)</li>
            <li>использование товара в производственных целях</li>
        </ul>

        <h3><b>Возникли вопросы? Звоните Нам по телефону: 8 (937) 033-92-92, и Мы с удовольствием расскажем обо всем, что Вас интересует.</b></h3>
</div>
</div>
<div id="scrollup">
    <img src="~/images/up.png" class="up" alt="Прокрутить вверх" />
</div>
<script>
window.onload = function () { // после загрузки страницы

    var scrollUp = document.getElementById('scrollup'); // найти элемент

    scrollUp.onmouseover = function () { // добавить прозрачность
        scrollUp.style.opacity = 0.3;
        scrollUp.style.filter = 'alpha(opacity=30)';
    };

    scrollUp.onmouseout = function () { //убрать прозрачность
        scrollUp.style.opacity = 0.5;
        scrollUp.style.filter = 'alpha(opacity=50)';
    };

    scrollUp.onclick = function () { //обработка клика
        window.scrollTo(0, 0);
    };

    // show button

    window.onscroll = function () { // при скролле показывать и прятать блок
        if (window.pageYOffset > 0) {
            scrollUp.style.display = 'block';
        } else {
            scrollUp.style.display = 'none';
        }
    };
};</script>

    </body>
</html>
