@{
        Page.Title = "Сведения о нас";
    Page.Key="Производство мягкой мебели, Мебельная фабрика, Мягкая мебель на заказ";
    Page.Description="Фабрика мебели Buona.";
        Layout = "~/_MarketLayout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
<h2 class="text-center">Покупатель обязан знать</h2>
<div class="row">
    <div class="home_garantii">
        

        <ul>
            <li>Из-за погодных условий, пробок на дорогах, возможных сложностей заноса мебели в помещение предыдущему Покупателю, <span style="text-decoration:underline"> указать точное время доставки не предоставляется возможным</span></li>
            <li>Ширина дверных проемов входной и межкомнатной дверей должен быть не менее 78 см.;</li>
            <li>Съем дверей или перемещение домашней мебели Покупателя, а так же погрузка в грузовой лифт с узкими дверьми не осуществляется.</li>
            <li>освободить коридоры, дверные проемы, убрать предметы, препятствующие транспортировке мебели в помещение;</li>
            <li>самостоятельно подготовить место для установки мебели, убрать старую мебель;</li>
            <li> во избежание повреждений паркета, линолеума, ламинированного пола, <span style="text-decoration:underline"> обеспечить дополнительные покрытия (подстилка) пола.</span></li>
        </ul>

        <span style="font-style:italic">В случае невыполнения Покупателем обязанностей за повреждение чего-либо Работники ответственности не несут. </span>
    </div>
</div>

    </body>
</html>
